.header {
  background: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  width: 100%;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
  }

  .logo img {
    height: 40px;
  }

  .menu-toggle {
    display: none;
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
  }

  .nav-links {
    display: flex;
    gap: 20px;
    align-items: center;

    li {
      list-style: none;


      .contact-btn {
        background-color: #5CD6FF;
        padding: 10px;
        border-radius: 25px;
      }

      a {
        text-decoration: none;
        color: black;
        font-weight: 500;
        transition: color 0.3s;

        &:hover {
          color: #fff;
        }
      }
    }
  }

  @media (max-width: 768px) {
    .menu-toggle {
      display: block;
    }

    .nav-links {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 60px;
      left: 0;
      width: 100%;
      background: white;
      padding: 1rem;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

    .nav-links.open {
      display: flex;
    }
  }
}