@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700;800&display=swap');

.manrope-light {
  font-family: "Manrope", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.manrope-regular {
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.manrope-medium {
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.manrope-semibold {
  font-family: "Manrope", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.manrope-bold {
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.manrope-extrabold {
  font-family: "Manrope", sans-serif;
  font-weight: 800;
  font-style: normal;
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

